%form-element-compact {
	@extend  %input-wrapper-compact;

	.form-element-label {
		@extend %input-wrapper-label-compact;
	}

	.form-element-messages {
		@extend %input-wrapper-messages-compact;
	}

	&.is-error {
		.form-element-label {
			color: _color("error");
		}
	}

	// MODS
	// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

	/* Label Width */

	@mixin inputWidth($iWidth, $lWidth) {
		width: calc(#{$iWidth} + #{_component("textfield.compact.label.right-margin")} + #{$lWidth});
	}

	& {
		@include inputWidth(_component("textfield.sizes.default"), _component("textfield.compact.label.sizes.default"));
	}

	@each $input-size-name, $input-width in _component("textfield.sizes") {
		&.mod-#{$input-size-name} {
			@include inputWidth($input-width, _component("textfield.compact.label.sizes.default"));
			@each $label-size-name, $label-width in _component("textfield.compact.label.sizes") {
				&.mod-label-#{$label-size-name} {
					@include inputWidth($input-width, $label-width);
				}
			}
		}
	}

	@each $label-size-name, $label-width in _component("textfield.sizes") {
		&.mod-label-#{$label-size-name} {
			.form-element-label {
				width: $label-width;
			}

			.form-element-messages.mod-helper {
				padding-left: calc($label-width + #{_component("textfield.compact.label.right-margin")});
			}
		}
	}
}

@import '../common/common.compact';